* {
    box-sizing: border-box;
}
body {
background-color: #FBFBFE;
color: #050315;
font-family: Arial, Helvetica, sans-serif;
}
#wrapper {
    background-color: #FBFBFE;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: 1px solid #a60909;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 3px 3px 3px #251f9e;
    height: 100%;
}
header {
    background-color: #251f9e;
    color: #FBFBFE;
    text-align: center;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    gap: 1em;
}
header a {
    text-decoration: none;
}
header a:link {
    color: #8c86ef;
}
header a:visited {
    color: #8c86ef;
}
header a:hover {
    color: #FBFBFE;
}
h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.25em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    flex: 1;
}
nav {
    background-color: #8c86ef;
    padding: 2em;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
    float: left;
    overflow: auto;
    width: 160px;
    height: 520px;
}
nav a {
    text-decoration: none;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.2em;
    padding-top: 0.5em;
}
nav ul li {
    margin-bottom: 0.8em;
}
nav a:link {
    color: #251f9e;
}
nav a:visited {
    color: #a60909;
}
nav a:hover {
    color: #fefefe;
}
main {
    background-color: #FBFBFE;
    overflow: auto;
    padding: 1em;
    clear: both;
}
footer {
    font-size: 90%;
    font-style: italic;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2em;
}
table {
    border-collapse: collapse;
    width: 100%;
}
table th,
table td {
    padding: 0.5em 0.75em;
    border: 2px solid #a60909;
    text-align: left;
}
table tbody tr:nth-of-type(even) td,
table tr:nth-of-type(even) td {
    background-color: #8c86ef;
}
table {
    margin: auto;
    border: 5px solid #a60909;
    width: auto;
}
th {
    font-weight: bold;
}
#codinghero {
    background-image: url(images/coding-1841550_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 25%;
    height: 5em;
    flex: 0 0 auto;
}
#gavelhero {
    background-image: url(images/gavel-7473645_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 25%;
    height: 5em;
    flex: 0 0 auto;
}
#gadgethero {
    background-image: url(images/gadget-2599498_1280.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 520px;
    margin-left: 160px;
}
#capitolhero {
    background-image: url(images/united-states-capitol-1675539_1280.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 520px;
    margin-left: 160px;
}
#supremecourthero {
    background-image: url(images/us-supreme-court-building-2225765_1280.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 520px;
    margin-left: 160px;
}
#statehero {
    background-image: url(images/maps-812736_1280.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 520px;
    margin-left: 160px;
}
#flaghero {
    background-image: url(images/american-flag-1293224_1280.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 520px;
    margin-left: 160px;
}
.form {
    background-position: top;
    overflow: auto;
    margin-left: 170px;
    form {
        background-color: #8c86ef;
        width: 50%;
        font-family: Arial, Helvetica, sans-serif;
        padding: 1em;
    }
    label {
        font-weight: bold;
        float: left;
        clear: left;
        display: block;
        text-align: center;
    }   
    input {
        margin-bottom: 1em;
        width: 95%;
    }
    input[type="submit"] {
        background-color: #251f9e;
        color: #FBFBFE;
        font-weight: bold;
        border: 4px solid #a60909;
        margin-top: 1em;
        padding: 0.5em;
        cursor: pointer;
    }
}
video {
    display: block;
    float: right;
    height: 160px;
    width: 300px;
}